<div id="unsavedChangesModal" class="modal" style="display: none;">
    <div class="modal-content">
        <h3>Unsaved Changes</h3>
        <p>You have unsaved changes. Are you sure you want to leave this page?</p>
        <div class="modal-actions">
            <button id="stayButton" class="action-button">Stay</button>
            <button id="leaveButton" class="action-button danger">Leave</button>
        </div>
    </div>
</div> 